.position_avatar
{
	min-width: 145px;
	text-align		:	center;
	padding-left	:	10px;
	padding-top		:	10px;
	padding-bottom	:	10px;
	padding-right	:	10px;
	line-height 	: 	1.4;
}

.position_avatar > div > img
{
	margin-bottom	:   10px;
}

.position_avatar > div{
	width: 200px;
}

